@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: dark;
    font-family: var(--fonte01);
}

header {
    color: white;
    background-color: black;
    text-align: center;
    font-family: var(--fonte02);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    transition-duration: 0.4s;
    color: rgb(0, 26, 255);
    border-radius: 10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 4px;
    text-decoration: underline rgb(255, 0, 0);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 2.7vw;
}

section > p {
    padding-bottom: 1em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(87, 87, 87);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.322);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.479);
    text-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
} 

section#img02 {
    background-image: url('../imagens/background002.jpg');

}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}

footer a {
    font-weight: bolder;
    color: rgb(60, 88, 248);
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 255, 255);
    border-left: 3px solid rgb(60, 88, 248);
    padding: 2.3px;
    background-color: rgba(128, 128, 128, 0.473);
    transition-duration: 0.2s;
}